body {
    font-family: "Asap Condensed", sans-serif;
    color: darkblue;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("https://qub.portadaaksat.site/img/607381.jpg");
    background-size: cover;
}

.cartao {
    background-color: lightcyan;
    width: 700px;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
}

.jogo {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
}

.tabuleiro {
    background-color: darkslategray;
    border-radius: 20px;
    width: 500px;
    padding: 20px;
}

.status {
    margin-left: 100px;
    margin-right: 100px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes>div {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button {
    background-color: darkblue;
    color: lightcyan;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

button:disabled {
    visibility: hidden;
}

.botoes>#azul {
    background-color: blue;
}

.botoes>#vermelho {
    background-color: red;
}

.botoes>#amarelo {
    background-color: yellow;
}

.botoes>#verde {
    background-color: green;
}